<div class="body">
    <section class="Form py-4 px-5">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-5">
            <img src="assets\images\login-background.png" alt="background image" class="img-fluid"/>
          </div>
          <div class="col-lg-7 px-5 pt-5">
            <h1 class="font-weight-bold py-3">Logo</h1>
            <h4>Sign into your account</h4>
            <form>
              <div class="form-row">
                <div class="col-lg-7">
                  <input type="email" placeholder="Enter Email Address" class="form-control  my-4 p-2" />
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <input type="password" placeholder="*****" class="form-control  my-3 p-2"/>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <button type="button" class="btn1 mt-3 mb-5">Login</button>
                </div>
              </div>
              <a href="#">Forgot password?</a>
              <p> Don't have an account?<a href="#">Register here</a></p>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>